__pycache__ 
.cache 
.conda 
.config 
.dotnet 
.ipynb_checkpoints 
.ipython 
.jupyter 
.local 
.nv 
.ssh 
.subversion 
.vscode-server 
Data 
entailment_results 
fine_tuned_model_batch_size=32 
logs 
logs_entailment 
retrieval_results 
.bash_history 
.bash_logout 
.bashrc
.profile 
.python_history 
.wget-hsts